.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 36px;
    background: linear-gradient(45deg, transparent,#4db5ff,transparent);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1,1fr);
    
}

.about-me-img{
overflow: hidden;
border-radius: 36px;
transform: rotate(10deg);
transition: 0.5s ease;

}
.about-me-img:hover{
    transform: rotate(0deg);
}


.about-cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 27px;
}




.about-card{
    background:#2c2c6c;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 26px;
    text-align: center;
    transition: 0.3s ease;
    width: 630px;
}

.about-card:hover{
    background: transparent;
    border-color:rgba(77,181,255,0.4); 
    cursor: default;
}

.about-icon{
    color: #4db5ff;
    font-size: 25px;
    margin-bottom: 16px;
}

.about-card h5{
    font-size: 15px;
    color: #4db5ff;
}
.about-card p{
   margin: 32px 0 42px;
   color: white;
}


.info {
    position: relative;
   top: -350px;
   left: 40px;
   width: 45%;
   text-align:center;
}



/* TABLET MEDIA QUARY */
@media screen and (max-width:1024px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
        }

        .about-me{
            width: 50%;
            margin: 32px auto 64px;
        }
        .about-content p{
        margin: 16px 0 24px;
        }
        .info{
            position: relative;
            top: 50px;
            left: 120px;
            width: 70%;
            text-align: center;
        }
    }




    /* Phone MEDIA QUARY */
@media screen and (max-width:600px) {

    .about-me{
        width: 45%;
        margin-right: 650px;
    }
    .about-cards {
        grid-template-columns: 1fr,1fr;
        gap: 16px;
        margin-left: 30px;
    }
    .about-content{
        text-align: center;
    }
    .about-content p {
        margin: 24px 0;
    }
    .info{
        /* position: relative;
        top: 50px;
        left: 5px; */
        margin-right: 120px;
        width: 100%;
        text-align: center;
    }
    }

